@using TranslationRobot
@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>
<table>
    <tr>
        <th>
            Input
        </th>
        <th>
            Translation
        </th>
    </tr>
    @foreach (TranslatedAddressEntity item in Model)
    {
        <tr>
            <td >@item.RowKey</td>
            <td >@item.Translation</td>
        </tr>
    }
</table>