@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>@ViewBag.Message from Robot PA</h1>
    <h2>@ViewBag.SubMessage</h2>
    <p class="lead">I translate stuff.</p>
</div>

<h4>Please take me to:</h4>

@using TranslationRobot
@model TranslationRobot.AddressInput

@using (Html.BeginForm("LocalizeAddress", "Home", FormMethod.Post))
{
    @Html.TextBoxFor(m => m.Address)

    <input type="submit" value="Translate" />
}

